<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            //получаем id книги из урла страницы
            const url = document.URL;
            const editingBookId = url.substring(url.lastIndexOf('/') + 1);
            let editingBook;
            $.when(getEditingBook()).then(getAuthors).then(getGenres);

            //получаем редактируемую книгу и вносим данные в селект
            function getEditingBook() {
                return $.getJSON('/book/' + editingBookId, function (book) {
                    $('#bookName').attr('value', book.title)
                    $('#authorSelect').html('<option selected id="' + book.author.id + '">' + book.author.name + '</option>')
                    $('#genreSelect').html('<option selected id="' + book.genre.id + '">' + book.genre.name + '</option>')
                    editingBook = book
                })
            }

            //заполняем селекты авторами
            function getAuthors() {
                $.getJSON('/author', function (authorsList) {
                    $.each(authorsList, function (i, author) {
                        if (author.id !== editingBook.author.id) {
                            const text = $('<option>').text(author.name);
                            text.attr('id', author.id);
                            text.appendTo('#authorSelect');
                        }
                    })
                })
            }

            //заполняем селекты жанрами
            function getGenres() {
                $.getJSON('/genre', function (genresList) {
                    $.each(genresList, function (i, genre) {
                        if (genre.id !== editingBook.genre.id) {
                            const text = $('<option>').text(genre.name);
                            text.attr('id', genre.id);
                            text.appendTo('#genreSelect');
                        }
                    })
                })
            }

            //по кнопке сохранить отправляем данные из формы в виде json по урлу PUT /book
            $('#saveButton').click(function (e) {
                e.preventDefault();
                const $authorSelect = $("#authorSelect option:selected");
                const $genreSelect = $("#genreSelect option:selected");
                $.ajax({
                    url: '/book',
                    dataType: 'json',
                    contentType: "application/json",
                    type: 'PUT',
                    data: JSON.stringify({
                        id: editingBook.id,
                        title: $('#bookName').val(),
                        author: {
                            id: $authorSelect.attr('id'),
                            name: $authorSelect.text()
                        },
                        genre: {
                            id: $genreSelect.attr('id'),
                            name: $genreSelect.text()
                        }
                    })
                })
                    .done(function () {
                        //делаем редирект на mainPage
                        window.location.href = "/library";
                    })
            })
        });
    </script>
</head>
<body>
    <p style="text-align: center;">Редактирование книги</p>
    <hr/>
    <form id="edit-form">
        <p style="text-align: center;">Название книги:</p>
        <p style="text-align: center;">
            <input type="text" value="Как завоевывать друзей" id="bookName"/>
        </p>
        <p style="text-align: center;">Автор:</p>
        <p style="text-align: center;">
            <select size="1" id="authorSelect">
                <option>Неизвестный</option>
            </select>
        </p>
        <p style="text-align: center;">Жанр:</p>
        <p style="text-align: center;">
            <select size="1" id="genreSelect">
                <option>Неизвестный</option>
            </select>
        </p>
        <p style="text-align: center;">
            <button id="saveButton">Сохранить</button>
        </p>
    </form>
</body>
</html>