<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
</head>
<body>
    <p style="text-align: center;">
        Добавление книги</p>
    <hr/>
    <form id="add-form" th:action="@{/book/add}" th:method="post" action="main.html" th:object="${book}">
        <p style="text-align: center;">
            Название книги:</p>
        <p style="text-align: center;">
            <input name="title" type="text" th:field="*{title}"/></p>
        <p style="text-align: center;">
            &nbsp;Автор:</p>
        <p style="text-align: center;">
            <input name="author" type="text" th:field="*{author.name}"/></p>
        <p style="text-align: center;">
            Жанр:</p>
        <p style="text-align: center;">
            <input name="genre" type="text" th:field="*{genre.name}"/></p>
        <p style="text-align: center;">
            <input name="addBook" type="submit" value="Добавить"/></p>
    </form>
</body>
</html>