<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
</head>
<body>
<p style="text-align: center;">
    Редактирование книги</p>
<hr/>
<form id="edit-form" th:action="@{/book/update}" th:method="post" action="mainBook.html" th:object="${book}">
    <input hidden="true" type="text" th:field="*{id}" th:value="*{id}"/>
    <p style="text-align: center;">
        Название книги:</p>
    <p style="text-align: center;">
        <input type="text" th:field="*{title}" th:value="*{title}" value="Как завоевывать друзей"/></p>
    <p style="text-align: center;">
        Автор:</p>
    <p style="text-align: center;">
        <select size="1" th:field="*{author}">
            <option th:each="a : ${authors}" th:text="${a.name}" th:value="${a.id}">Неизвестный</option>
        </select>
    </p>
    <p style="text-align: center;">
        Жанр:</p>
    <p style="text-align: center;">
        <select size="1" th:field="*{genre}">
            <option th:each="g : ${genres}" th:text="${g.name}" th:value="${g.id}">Неизвестный</option>
        </select>
    </p>
    <p style="text-align: center;">
        <input type="submit" value="Сохранить"/></p>
</form>
</body>
</html>